name: CI 

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    name: Build & Test
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./technical_test

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'
          cache-dependency-path: technical_test/package-lock.json

      - name: Install Dependencies
        run: npm ci

      - name: Linting
        run: npm run lint

      - name: Build App
        run: npm run build